.button {
  padding: 11px 41px;
  font-size: 14px;
}

.shopping-btn {
  display: flex;
  align-content: center;
  gap: 8px;
  border-radius: 5.75px;
  background-color: $c-to-cart-button-bg;
  font-weight: 600;

  &:hover {
    background-color:darken($c-to-cart-button-bg, 10%);
  }
}

.category-btn {
  padding: 5px 14px;
  color: $c-disabled-text;
  font-weight: 400;
  flex: 0 0 auto;

  &-active {
    background-color: $c-active-category-bg;
    border-radius: 7px;
    font-weight: 500;
    color: $c-black;
  }
}
.category-btn-active {
  font-weight: 500;
}