.header {
  background-image: url("src/assets/images/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $c-white;
    margin-bottom: 48px;

    .profile-link {
      display: flex;
      align-items: center;
      gap: 7px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}