.price-list {
  margin-bottom: 23px;
}

.summary-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;

  &:not(:last-child) {
    border-bottom: 1px solid $c-input-border;
  }

  span {
    font-size: 16px;
    font-weight: 400;
  }

  .summary-price {
    font-weight: 600;
    letter-spacing: -4%;
  }
}