$c-white: #FFFFFF;
$c-gray-1: #EEEEEE;
$c-gray-2: #F8F8F8;
$c-black: #000000;
$c-black-transparent: #00000080;
$c-black-transparent-2: #00000019;
$c-black-transparent-3: #0000004D;
$c-orange: #EB5024;

$c-primary-text: $c-black;
$c-disabled-text: $c-black-transparent;
$c-carousel-text: $c-white;
$c-accent-color: $c-orange;
$c-active-category-bg: $c-gray-1;
$c-to-cart-button-bg: $c-gray-2;
$c-card-img-bg: $c-gray-2;
$c-bg-gray: $c-gray-2;
$c-input-border: $c-black-transparent-2;
$c-label: $c-black-transparent-3;